        #n
        {
            background-color: red;
        }
        #e
        {
            background-color: chocolate;
        }
    body 
    {background-image: url("laptop-with-pen-pencil-paper-clips-sticky-notes-spiral-notepad-beige-background.jpg") ; background-attachment: fixed; background-position: center
    ; background-repeat: no-repeat;
    background-size: cover;
}
            table {
      border-spacing: 10px;
    }
        td {
            text-align: center;
            font-size: 20px;
            width: 40px;
            height: 40px;
            border-radius: 30px;
        }
        button
        {
            width: 100%;
            height: 100%;
            font-size: 20px;
            border-radius: 30px;
            background-color: greenyellow;
        }
        button:hover
        {
            background-color: rgba(172, 255, 47, 0.407);
        }
        h1
        {
            text-align: center;
            font-family: inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgb(24, 24, 24);
            
        }
